* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-image: url(billeder/baggrund.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

@import url('https://fonts.googleapis.com/css2?family=Allison&family=Kadwa&family=Ms+Madi&family=Qwitcher+Grypen&family=Rokkitt:wght@100;400&display=swap');

/* --------------------------GENRELT--------------------------------- */
h1 {
  font-family: Ms madi;
  font-weight: 20;
  color: rgb(255, 255, 255);
/*text-align: center;
  margin-top: 250px;
  font-size: 350px;
  */ 
}

h2 {
  font-family: rokkitt;
  font-variant: small-caps;
  letter-spacing: 8px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

p{
font-family: kadwa;
font-size: 19px;
color: white;
line-height: 35px;
}



/* --------------------------MENU--------------------------------- */


@media (min-width: 1150px) {
#menu {
  display: flex;
  white-space: nowrap;
  padding-left: 20px;
  
}
}

ul#menu li {
  font-size: 20px;
  list-style: none;
  font-family: rokkitt;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 7px;
}

.subnavbtn {
  color: #8e8d83;
  padding: 60px;
}

header {
  top: 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.704);
}

#header-nav {
  text-align: center;
}






/* --------------------------FORSIDE--------------------------------- */

@media (min-width: 1000px) {
.overskrift {
text-align: center;
  margin-top: 200px;
  font-size: 250px;
}

.underoverskrift {
    color: white;
    font-size: 25px;
    margin-bottom: 60px;
}
}

.overskrift {
  text-align: center;
  font-size: 100px;
  margin-top: 200px;
}

.underoverskrift {
  color: white;
  font-size: 20px;
}

/* --------------------------INDHOLD--------------------------------- */


.youtube_video {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
    background-color: #afaea8;
    padding-top: 70px;
    padding-bottom: 70px;
    color: white;
}

.video {
    width: 100%;
    height: auto;
   
}


.klik {
    font-variant: small-caps;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    width: 100%;
}

.bund_tekst{
    text-align: justify;
    padding-left: 80px;
     padding-right: 80px;
     padding-top: 30px;
}

.processen {
    font-size: 150px;
    margin-top: 200px;
    margin-left: 60px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-item {
margin-top: 40px;
margin-left: 200px;
margin-right: 10px;
  text-align:end;
  width: 60%;
}
.grid-item2{
  margin-top: 100px;
}
/* --------------------------ANIMATION--------------------------------- */

@media (min-width: 1500px) {
.overskrift_2 {
    text-align: center;
    font-size: 45px;
    margin-top: 40px;
}


.billede_2 {
    width: 80%;
    margin-left: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
}
}

.overskrift_2 {
  text-align: center;
  font-size: 45px;
  margin-top: 40px;
}

.billede_2 {
  padding: 70px;
}


@media (min-width: 1500px) {
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 60%;
    margin-left: 430px;
    gap: 80px;
}

.diagram {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    text-align: center;
    gap: 60px;
    color: white;
    font-size: 30px;
     margin-top: 100px;
    background-color: #afaea8;
   
    color: white;
}
}
.grid-container2 {
 margin-left: 400px;
 

}

.diagram{
  color: white;
  font-size: 30px;
  background-color: #afaea8;
  margin-top: 100px;
}

.col_1 {
  text-align: center;
  padding: 100px;
}


.java {
  color: white;
  font-size: 60px;
  margin-top: 200px;
  margin-bottom: 30px;
  text-align: center;
}

.java_tekst {
  text-align:justify;
}

.grid-diagram {
  width: 30%;
  text-align: center;
  margin-left: 400px;
  margin-top: 100px;
}

.assets {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  padding: 100px;
}

.grid-asset1 {
  width: 70%;
}
.grid-asset2 {
width: 70%;
margin-top: 100px;
}
.grid-asset3 {
width: 70%;
margin-top: 100px;
}
.grid-asset4 {
  width: 60%;
  margin-top: 80px;
}
.grid-asset5{
  width: 70%;
  margin-top: 170px;

}
.grid-asset6 {
  width: 70%;
  margin-top: 170px;

}



/* --------------------------WEB--------------------------------- */

@media (min-width: 1200px) {
.moodboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    width: 80%;
    margin-top: 100px;
    margin-left: 200px;
    color: white;
    font-size: 20px;
    
}
}

.moodboard {
    width: 80%;
    padding-top: 100px;
    place-content: center;
    color: white;
    font-size: 20px;
    margin: auto;
}


.web {
    margin-top: 20px;
    line-height: 28px;   
}

@media (min-width: 1200px) {
.tema {
    margin-top: 200px;
    text-align: center;
    padding: 100px;
    color: white;
    font-size: 30px; 
    background-color:#afaea8;
}
}

.tema {
  color: white;
  font-size: 30px;
  padding: 70px;
  text-align: center;
  background-color: #afaea8;
  margin-top: 40px;
}

.emnesite {
  color: white;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-right: 800px;
  font-size: 20px;
  
}

/* --------------------------UX--------------------------------- */

.ux_billeder {
  display: grid;
  grid-template-columns: 1fr 1fr;
 
  margin-top: 200px;
  margin-left: 200px;
  gap: 200px;
  width: 100%;
}

.ux_billeder_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 400px;
  margin-right: 500px;
}

/* --------------------------OM--------------------------------- */
@media (min-width: 1400px) {
.mig {
  margin-top: 150px;
  margin-left: 80px;
  width: 40%;
}


.om {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 300px; 
}
}

.mig {
  width: 80%;
}

.om {
  padding: 80px;
}


.om_tekst {
    line-height: 30px;
}

.om_overskrift {
  font-size: 80px;
  margin-top: 100px;
  font-weight: 20;
}

.kontakt {
    margin-bottom: 30px;
    font-weight: 900;
    font-variant: small-caps;
    letter-spacing: 2px;

}

.mmd {
    margin-top: 30px;
}

/* --------------------------FOOTER--------------------------------- */
@media (min-width: 950px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding-bottom: 40px;
  
  }
}
.footer {
  background-color: white;
  margin-top: 300px;
}

.h1_footer {
  color:#8e8d83;
  font-size: 30px;
  margin-top: 4%;
  margin-left: 200px;
  margin-right: 100px;
  grid-area: 1/1;
  margin-bottom: 12px;
  font-family: rokkitt;
  font-variant: small-caps;
  font-weight: 900;
  
  
}

.p_footer {
  font-size: 15px;
  font: kadwa;
  color: #8e8d83;
  padding: 5px;
  margin-left: 200px;
  margin-right: 100px;
  padding-bottom: 8px;
  font-family: "Heebo", sans-serif;
  line-height: 20px;
}

.footer1{
  text-align: center;
}

/* --------------------------IKONER--------------------------------- */
.ikoner{
    margin-top: 100px;
    text-align:justify;
    
}

.fa {
  padding: 20px;
  font-size: 70px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  
}

.fa-facebook {
  background: #8e8d83;
  color: white;
  margin-right: 30px;
  
}
.fa-youtube {
  background: #8e8d83;
  color: white;
  margin-right: 30px;
}

.fa-instagram {
  background: #8e8d83;
  color: white;
}

.button {
  background-color: #78766d;
  border: none;
  color: white;
  padding: 15px 32px;
  gap: 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 50px;
  place-items: center;
  cursor: pointer;
  font-family: rokkitt;
  letter-spacing: 3px;
  font-variant: small-caps;
  margin-top: 70px;
}

button {
    margin-top: 100px;
    margin-left: 200px;
    
}



/*

HOW TO MAKE A BUTTON 

html
<button></button>
<a href="web.html" class="button">Læs mere</a>

.button {
  background-color: #8e8d83;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  place-items: center;
  cursor: pointer;
  font-family: rokkitt;
}
/*

 <div class="risteriet">
        <img src="billeder/layoutdiagram_indhold.png" alt="layoutdiagram" />
        <img src="billeder/wireframe_indhold.jpg" alt="wireframe" />
        <img src="billeder/moodboard_indhold.jpg" alt="moodbaord" />
        <img src="billeder/styletile_indhold.jpg" alt="styletile" />
      </div>








      <div class="diagram">
        <h2>aktivitetsdiagram</h2>
        <h2>statemachinediagram</h2>
        <p>
          Aktivitetsdiagrammet brugte jeg i starten af forløbet til at danne mig et overblik over spillets forløb, inden jeg gik igang med at kode. Metoden er en mere overordnet måde at skabe sig et overblik, lidt som når man bruger wireframes til
          html.
          <button></button>
          <a href="animationsbilleder/aktivitetsdiagram.jpg" class="button">aktivitetsdiagram</a>
        </p>

        <p>
          Statemachine diagrammet brugte jeg til at lave en plan for hvordan spillet helt konkret skal kodes. Her planlagde jeg hvilke navne og animationer der helt konkret skulle bruges til mit spil. En metode der er mere konkret med specifikke
          navne, fremfor aktivitetsdiagram, der er mere overordnet.
          <button></button>
          <a href="animationsbilleder/statemachinediagram.jpg" class="button">statemachinediagram</a>
        </p>

        <div class="grid-diagram"><img src="animationsbilleder/aktivitetsdiagram.jpg" alt="aktivitetsdiagram" /></div>
        <div class="grid-diagram"><img src="animationsbilleder/statemachinediagram.jpg" alt="statemachinediagram" /></div>
      </div>