* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-image: url(billeder/bernard-hermant-1nDW7BjBj1s-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
/* --------------------------GENRELT--------------------------------- */
h1 {
  font-family: Ms madi;
  font-weight: 20;
  color: rgb(255, 255, 255);
/*text-align: center;
  margin-top: 250px;
  font-size: 350px;
  */ 
}

h2 {
  font-family: rokkitt;
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-variant: small-caps;
  letter-spacing: 10px;
  font-weight: 400;
  text-align: center;
}

p{
font-family: rokkitt;
font-size: 20px;
color: white;
}



/* --------------------------MENU--------------------------------- */

#menu {
  display: flex;
  white-space: nowrap;
  padding-left: 20px;
  gap: 15px;
}

ul#menu li {
  font-size: 20px;
  list-style: none;
  font-family: rokkitt;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 7px;
}

.subnavbtn {
  color: #8e8d83;
  padding: 100px;
}

header {
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.704);
  z-index: 70;
}

#header-nav {
  color: rgb(124, 78, 9);
  grid-column: 1;
  grid-row: 1;
  display: grid;
}


/* --------------------------FORSIDE--------------------------------- */

.overskift {
text-align: center;
  margin-top: 250px;
  font-size: 200px;
}


/* --------------------------WEB--------------------------------- */

.risteriet {
 
  place-content: end;
  padding-left: 500px;
}

/* --------------------------OM--------------------------------- */
.mig {
  padding-top: 200px;
  padding-left: 50px;
  width: 50%;
}

.om {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.om_overskrift {
  font-size: 100px;
  margin-top: 150px;
  margin-left: 100px;
  font-weight: 20;
}









/*

HOW TO MAKE A BUTTON 

html
<button></button>
<a href="web.html" class="button">Læs mere</a>

.button {
  background-color: #8e8d83;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  place-items: center;
  cursor: pointer;
  font-family: rokkitt;
}
/*
